memorysetup-allocator-temp-initial-block-size-main=524288
memorysetup-allocator-temp-initial-block-size-worker=524288
memorysetup-bucket-allocator-granularity=16
memorysetup-bucket-allocator-block-size=4194304
memorysetup-bucket-allocator-block-count=8
memorysetup-temp-allocator-size-main=4194304
memorysetup-temp-allocator-size-audio=2097152
memorysetup-temp-allocator-size-background=1048576
memorysetup-temp-allocator-size-gfx=262144
memorysetup-temp-allocator-size-audio-worker=65536
memorysetup-temp-allocator-size-background-worker=32768
memorysetup-temp-reduction-small-platforms=262144